<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">
    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    {% block css %}{% endblock %}
</head>

<body style="margin:0;">
    <nav id="navbar" class="navbar">
        <a href="{{ url_for('liff.liff') }}">Room</a>
        <a href="{{ url_for('liff.user_list') }}">User</a>
    </nav>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>