{% extends "layout.html" %}
{% block title %}User List{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">
{% endblock %}

{% block content %}
<h1>User List</h1>
    <table>
        <thead>
            <tr>
                <th>User ID</th>
                <th>Name</th>
                <th>Picture</th>
                <th>Command</th>
                <th>Timestamp</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.user_id }}</td>
                <td>{{ user.name }}</td>
                <td><img src="{{ user.picture }}" alt="User Picture" width="50" height="50"></td>
                <td>{{ user.command }}</td>
                <td>{{ user.timestamp }}</td>
                <td><a href="{{ url_for('user.user_history', user_id=user.user_id) }}">View History</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
